<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24891214351-lcmvcmt5dce38j8pekvm6oai44g1ro0l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24891214351-lcmvcmt5dce38j8pekvm6oai44g1ro0l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>24891214351-lut68tmn9idhh6nilvni56tcr4nehuhm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAn5kRVEiCxNkY-jNZ0f548jNo7D8MNzNI</string>
	<key>GCM_SENDER_ID</key>
	<string>24891214351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>apps.iqonic.streamit</string>
	<key>PROJECT_ID</key>
	<string>streamit-ae5a1</string>
	<key>STORAGE_BUCKET</key>
	<string>streamit-ae5a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24891214351:ios:f30856243554a2cd67717a</string>
</dict>
</plist>